.circledimg {
  background-color: #555;
  border-radius: 50%;
  border: 3px solid #17a2b8;
  height: 10rem;
  width: 10rem;
  overflow: hidden;
}
.img-team:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.banner {
  outline: 5px dashed #fff;
  outline-offset: -13px;
}
.container-ourteam {
  min-height: 50vh;
}

.banner h1 {
  background-color: #17a2b8;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  color: white;
  font-size: 4.5rem;
  text-align: justify;
  height: 11rem;
  padding-top: 2.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .banner h1 {
    font-size: 3.2rem;
    padding-top: 2rem;
  }
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 2.4rem;
    padding-top: 2.2rem;
  }
}
