.card-turnos {
  width: 25rem;
}
.card-header-pelu {
  background-color: #fff;
}

.card-header-pelu p {
  font-family: "Cabin Sketch", cursive;
  color: #17a2b8;
  font-weight: bold;
  font-size: 3.2rem;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-header-pelu p {
    font-size: 2.5rem;
    text-align: justify center;
  }
}
@media (max-width: 575.98px) {
  .card-header-pelu p {
    font-size: 3rem;
    text-align: justify center;
  }
}

.turnospart {
  font-family: "Quicksand", sans-serif;
  border: 5px #17a2b8 dotted;
}

.turnospart p {
  font-size: 2.8rem;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  color: #17a2b8;
}
@media (min-width: 768px) {
  .turnospart p {
    font-size: 4.5rem;
  }
  .card-turnos {
    width: 45rem;
  }
}

.selectcss {
  padding: 6px, 12px;
}
.formturnosize {
  max-width: 28rem;
}
.formturnosizeselect {
  max-width: 28rem;
}
.form h5 {
  font-size: 15rem;
}

.footerlinks {
  color: white;
}
