.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
}

.carousel-size img {
  width: 100%;

  position: relative;
}
.urgenciasdiv {
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  padding-left: 150px;
  color: #fd791a;
}

.urgenciasdiv h2 span {
  display: block;
}

.urgenciasdiv h2 {
  font-size: 2.75rem;
  font-family: "Quicksand", sans-serif;
  max-width: 300px;
  color: #01919a;
}
.urgenciasdiv h3 {
  font-family: "Quicksand", sans-serif;
  padding-top: 10px;
}

.peluqueriadiv {
  height: 400px;
  position: absolute;
  z-index: 1;
  padding-top: 120px;
  padding-left: 150px;
  color: #01919a;
}

.peluqueriadiv h3 {
  font-size: 2.75rem;
  font-family: "Quicksand", sans-serif;
}
.petshopdiv {
  height: 200px;
  position: absolute;
  z-index: 1;
  padding-top: 80px;
  padding-left: 120px;
  color: #01919a;
}
.petshopdiv h3 {
  font-size: 2.75rem;
  font-family: "Quicksand", sans-serif;
  max-width: 300px;
}
.btnslideprod {
  height: 10px;
  position: relative;
  z-index: 1;
  padding-right: 50px;
}
.sharedbtn-sli {
  display: inline-block;
  border-radius: 4px;
  background-color: #feaa00;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sharedbtn-sli span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sharedbtn-sli span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sharedbtn-sli:hover span {
  padding-right: 25px;
  color: #ffffff;
}

.sharedbtn-sli:hover span:after {
  opacity: 1;
  right: 0;
}
.carousel-control-prev-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); */
}

.carousel-control-next-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); */
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel {
    height: 200px;
  }
  .urgenciasdiv {
    padding-top: 50px;
    padding-left: 4px;
  }
  .banner-text h2 span {
    font-size: 2rem;
    padding-top: -4rem;
  }
  .banner-text h3 {
    font-size: 1.4rem;
  }
  .peluqueriadiv {
    height: 200px;
    position: absolute;
    z-index: 1;
    padding-top: 65px;
    padding-left: 50px;
    color: #01919a;
  }
  .peluqueriadiv h3 {
    font-size: 2.3rem;
    font-family: "Quicksand", sans-serif;
  }
  .petshopdiv {
    height: 200px;
    position: absolute;
    z-index: 1;
    padding-top: 32px;
    padding-left: 0px;
    color: #01919a;
  }

  .petshopdiv h3 {
    font-size: 2.3rem;
    font-family: "Quicksand", sans-serif;
    max-width: 300px;
  }
  .btnslideprod {
    height: 10px;
    position: relative;
    z-index: 1;
    padding-right: 50px;
  }
  .sharedbtn-sli {
    display: inline-block;
    border-radius: 4px;
    background-color: #feaa00;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    font-size: 2rem;
    color: #fd791a;
}
