.bckgMercadoPago{
background-color: rgba(255, 255, 255, 0.397);
border: 1px solid aqua;
height: 500px;
}

.inpMercadoPago{
    margin: auto;
}

.tableScroll{
    overflow-x: scroll;
}

.tableHeight{
    height: 150px;
}

.widthImg tr th{
    width: fit-content;
}

.widthImg tr td:last-child{
    max-width: auto;
}

.img{
    max-height: 3rem;
}